<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConStringEncrypt" value="true" />

		<!--test Remote 53 PI-->
		<add key="ConnectionString" value="E5B7FDCFFC4C2EC55639DDE7E2D975CCCA77E67C7278740F41EDFCACB4B9C3D8C6E9366B763DD8E48FAE7A5976379F3A14DB6F2F4F257729" />

		<!--official Remote 3.4.7 PI-->
		<!--<add key="ConnectionString" value="E5B7FDCFFC4C2EC5DDFCFA67EA4E0327C21F2892E307E7A427E6F7BF1306C078C482BACFE5D6338D2DB947C131B96E9B" />-->

	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>